@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('../fonts/MonoSocialIconsFont-1.10.eot');
    src: url('../fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('../fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
}
h2{
    font-size:30px;
	margin:0;
}
h3{
    display:inline;
	font-size:20px;
	margin:0;
}
h4{
    font-size:13px;
	margin:0;
}
hr{
    width: 100%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.view{
    min-height:calc(100% - 50px);
}
.mainimage{
    height:200px;
	width:200px;
	border-radius:200px;
	margin-top:20%;
}
.img-responsive{
    width: 100%;
}
.location-icon{
    font-size:30px;
}
.quote{
   margin-right:10px;
   margin-left:10px;
}
.contact{
    height:66%;
}
.contactmargin{
    height:10%;
}
.s{
    height:3%;
}
.location{
    font-size:100px;
}
.symbol{
    font-size:40px;
    display: inline;
}
.social{
    margin-top:10px;
}
.plinks{
    text-decoration: none;
    color: inherit;
}
.facebook:hover{
    color: #3b5998;
}
.twitter:hover{
    color: #4099FF;
}
.googleplus:hover{
    color: #d34836;
}
.instagram:hover{
    color: #fbad50;
}
.linkedin:hover{
    color: #0e76a8;
}
.github:hover{
    color: #00c853;
}
.mdl-mini-footer{
    display: block;
}
@media (min-width: 768px) {
    h2{
        font-size:35px;
    }
    h3{
        font-size:25px;
	}
    h4{
       font-size:15px;
    }
	.view{
        min-height:calc(100% - 56px);
	}
	.mainimage{
        height:300px;
	    width:300px;
	    border-radius:300px;
	    margin-top:7%;
    }
	.quote{
        max-width:500px;  
    }
	.contact{
       height:76%;
    }
	.contactmargin{
	   height:20%;
	}
}

@media (min-width: 992px) {
}